<h5>Filters</h5>
<%= form_tag(@user.present? ? user_guidebooks_path : guidebooks_path, method: :get, class: 'index-search-form page-item-search clearfix') do %>
  <div class="search-text clearfix">
    <div class="search-input mt-3">
      <%= text_field_tag 'search_text',
            @search_text, 
            class: 'search-text-input with-img form-control',
            placeholder: 'Search for tours'
      %>
    </div>

    <button class="btn btn-primary mt-3">Filter</button>

  </div>
<% end %>