<div class="row">
  <label class="col-sm-2"><strong>Description</strong></label>
  <div class="col-sm-10 mt-1">
    <p><%= scene.description %></p>
  </div>
</div>
<div class="row">
  <label class="col-sm-2"><strong>Creator</strong></label>
  <div class="col-sm-10 mt-1">
    <p><%= scene.guidebook.user.name %></p>
  </div>
</div>