<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-9 col-sm-12">
        <h1 class="my-4"><%= title 'Guidebooks' %></h1>
        <% description app_description %>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-3">
        <%= render partial: 'guidebook_filter' %>
      </div>

      <div class="col-lg-9">
        <div class="row guidebooks-container">
          <%= render partial: 'guidebook', collection: @guidebooks %>
        </div>
        <%= paginate @guidebooks %>
      </div>
    </div>
  </div>
</div>
