
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Required a API key by <%= @user.name %></h1>
    <p>
      A user <%= @user.name %> required permission of API key usage.
      user email: <%= @user.email %>.<br>
    </p>
    <p>
      Please check user's permission: <%= @url %>.
    </p>
    <p>Thank you!</p>
  </body>
</html>