
<div class="form-inline sort-component">
  <%= label_tag 'sort by:' %>&nbsp;
  <%= select_tag 'sort_by',
                 options_for_select(options, value),
                  class: 'select-sort-by form-control'%>
</div>

<%#= content %>
