<div class="row">
  <div class="py-5 col-lg-12">
    <div class="card">

      <h1 class="card-header"><%= title current_user.try(:name) %></h1>
      <% description 'User page with tips' %>

      <div class="card-body">

        <h5 class="card-title">How to upload a tour?</h5>

        <ol>
          <li><a href="https://www.trekview.org/tourer/" target="_blank">Download the Tourer app here</a>.</li>
          <li>Add your <strong>API key</strong> in the Tourer settings page.</li>
          <li>Upload your panorama files to Tourer making sure to select "publish to Explorer". <a href="https://github.com/trekview/tourer/wiki" target="_blank">Read more in the Tourer documentation</a>.</li>
          <li>
            When your tour is published you will see on the
            <%= link_to 'My Tours', user_tours_path(current_user), class: 'text-success' %> page.
          </li>
        </ol>

        <div class="row">
          <div class="col-lg-6">
            <p class="my-4">Your API key: <span class="text-success user-api-token"><%= current_user.api_token %></span></p>
          </div>

          <div class="col-lg-6">
            <%= link_to user_generate_new_token_path(current_user), method: :post, confirm: 'Generate new token?',
                        class: 'btn btn-primary regenerate-token my-3', 'data-message' => 'Are you sure?',
                        'data-severity' => 'warning', remote: true do %>
              Generate new API key
            <% end %>
            <p class="small"><em>Regenerating your API key will invalidate your existing key immediately.</em></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


