<div class="py-5 col-lg-12">
  <div class="card">

    <h1 class="card-header">User Information</h1>

    <div class="card-body">

      <h5 class="card-title">Your API token - <span class="text-success user-api-token"><%= @user.api_token %></span> </h5>

      <p class="card-text">Use this token in your desktop application.</p>

      <%= link_to user_generate_new_token_path(current_user), method: :post, confirm: 'Generate new token?',
                  class: 'btn btn-primary regenerate-token', 'data-message' => 'Are you sure?',
                  'data-severity' => 'warning', remote: true do %>
        Generate new token
      <% end %>

    </div>

  </div>
</div>

