<div class="row">
  <div class="col-lg-12 tours_list">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="my-4">List of Tours</h1>
      </div>

      <div class="col-lg-12">
        <div class="row tours-container">
          <%= render 'tours/tours_display' %>
        </div>
      </div>

    </div>

    <%= paginate @tours %>

  </div>
</div>