<div class="row">
  <div class="col-lg-12 tours_list">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="my-4"><%= title user_tours_title(@user) %></h1>
        <% description "User page with tours posted by user #{@user.try(:name)}" %>
      </div>

      <div class="col-lg-12">
        <div class="row tours-container">
          <%= render partial: 'tours/tours_display', locals: {tours: @tours} %>
        </div>
      </div>

    </div>

    <%= paginate @tours %>

  </div>
</div>
