// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photo-container {
  padding-bottom: 10px;

  iframe {
    width: 100%;
  }

  .photo-card-link {
    text-decoration: none;
    color: black;
  }

  .photo-image {
    object-fit: contain;
  }

  .photo-attributes-table {
    th:first-child {
      width: 300px;
    }
  }

  .viewpoint {
    background: url("/assets/heart-icon.png") no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-size: contain;
    text-align: center;
    color: white;
    font-size: 12px;
    padding-top: 5px;
    position: absolute;
    right: 0;
    margin: 5px 5px 0 0;
    cursor: pointer;
  }
}
