<div class="row">
  <div class="col-sm-4">
    <div class="card text-white bg-success mb-3">
      <div class="card-header">Your name here</div>
      <div class="card-body">
        <p class="card-text">Is your small business nearby? Are you a local organisation? For a small donation you can be listed as a sponsor of this tour whilst supporting our work to protect the natural world. <a href="https://www.trekview.org/contact/" target="_blank">Contact us for more information</a>.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-danger mb-3">
      <div class="card-header">Your name here</div>
      <div class="card-body">
        <p class="card-text">Is your small business nearby? Are you a local organisation? For a small donation you can be listed as a sponsor of this tour whilst supporting our work to protect the natural world. <a href="https://www.trekview.org/contact/" target="_blank">Contact us for more information</a>.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-warning mb-3">
      <div class="card-header">Your name here</div>
      <div class="card-body">
        <p class="card-text">Is your small business nearby? Are you a local organisation? For a small donation you can be listed as a sponsor of this tour whilst supporting our work to protect the natural world. <a href="https://www.trekview.org/contact/" target="_blank">Contact us for more information</a>.</p>
      </div>
    </div>
  </div>
</div>