<div class="card text-white bg-success mb-3">
  <div class="card-header">
    <%= sponsor.title %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= sponsor.description %></p>
    <p>
      <%= link_to 'Contact us for more information', sponsor.url, target: :_blank%>
    </p>
  </div>
</div>