<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-9 col-sm-12">
        <h1 class="my-4"><%= 'Tours' %></h1>
        <% description app_description %>
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-lg-3">
        <%= render partial: 'tour_filter' %>
      </div>

      <div class="col-lg-9 tours_list">
        <div class="row">
          <div class="row tours-container">
            <%= render partial: 'tour', collection: @tours %>
          </div>
          <%= paginate @tours %>
        </div>
      </div>
    </div>
    
  </div>
</div>
