
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>API Key usage</h1>
    <p>
      Hello  <%= @user.name %>,
    </p>
    <p>
      Your API key was enabled by admin.
    </p>
    <p>
      API Key: <b><%= @user.api_token %></b>
    </p>
    <p>Thank you!</p>
  </body>
</html>