<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-9 col-sm-12">
        <h1 class="my-4"><%= 'Tourbooks' %></h1>
        <% description app_description %>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-3">
        <%= render partial: 'tourbook_filter' %>
      </div>

      <div class="col-lg-9">
        <div class="row tours-container">
          <%= render partial: 'tourbook', collection: @tourbooks %>
        </div>
        <%= paginate @tourbooks %>
      </div>
    </div>

  </div>
</div>
