<div class="row">
  <div class="py-5 col-lg-12">
    <div class="card">

      <div class="card-header">
        <div class="row">
          <h1 class="col-lg-12">
            <%= @user.present? ? 'My viewpoints' : 'Viewpoints' %>
          </h1>

        </div>
      </div>

      <div class="card-body">
        <% if @photos.size.positive? %>
            <%= render partial: 'photos_display', locals: { photos: @photos } %>
            <br/>
            <%= paginate @photos %>
          <% else %>
            <p class="nothing-text">
              No results matched your search criteria, try a different search instead.
            </p>
          <% end %>
      </div>

    </div>
  </div>
</div>