<div class="row">
   <div class="col-12 col-md">
        <h3>About Explorer</h3>

        <p>Discover the world with Trek View Explorer.</p>

        <p>Share your own panoramic tours of the natural world with fellow trekkers around the world.</p>

        <p>Or unleash your inner explorer and travel the globe without leaving home. Take a journey to sites of cultural, historical, and geographic significance.</p>

        <h3>About Trek View</h3>

        <p>Trek View is a not-for-profit organisation using the power of panoramic photography to help protect against further destruction of our beautiful planet.</p>

        <p><a href="https://www.trekview.org/about/" target="_blank">Read more about our work here</a>.</p>
    </div>
</div>