body {
  min-height:100vh;
}

select {
  text-transform:capitalize
}

.sticky-footer-wrapper {
  min-height:100vh;
  padding-top: 56px;

  &:after {
    display: block;
    height: 170px;
    clear: both;
    content: '';
    visibility: hidden;
  }
}

#map {
  width: 100%;
  height: 400px;
}
