<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; <a href="https://www.trekview.org">Trek View</a> <%= DateTime.now.strftime('%Y') %></p>

    <br />

    <p class="m-0 text-center text-white"><a href="https://github.com/trekview/explorer/blob/master/LICENSE.txt" target="_blank">This work is licensed under a GNU Affero General Public License v3.0</a>.</p>

    <br />

    <p class="m-0 text-center text-white"><a href="https://github.com/trekview/explorer/" target="_blank">View the source code here</a>.</p>
  </div>
  <!-- /.container -->
</footer>