<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; <a href="https://www.trekview.org">Trek View</a> <%= DateTime.now.strftime('%Y') %></p>
  </div>
  <!-- /.container -->
</footer>