<footer class="py-4 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <h5>About</h5>
        <p class="m-0 text-white">Trek View is a not-for-profit organisation using the power of panoramic photography to help educate and protect against further destruction of our beautiful planet.</p>
        <p class="m-0"><a href="https://www.trekview.org/about/">Read more about our work</a>.</p>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>        
        <ul class="list-unstyled text-small">
          <li><a class="text-white" href="https://www.trekview.org/tools/tourer">Upload a Tour</a></li>
          <li><a class="text-white" href="https://www.trekview.org/subscribe">Spotter a Trekker?</a></li>
          <li><a class="text-white" href="https://www.trekview.org/loan">Become a Trekker</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Find us on</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white" href="https://www.trekview.org/blog">Blog</a></li>
          <li><a class="text-white" href="https://trekview-slackin.herokuapp.com/">Chat</a></li>
          <li><a class="text-white" href="https://www.instagram.com/trekviewed/">Instagram</a></li>
          <li><a class="text-white" href="https://twitter.com/trekview">Twitter</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>License</h5>
        <p class="m-0 text-white"><a href="https://gitlab.com/trekview/explorer/">This work is licensed under a GNU Affero General Public License v3.0</a></p>
      </div>
    </div>
  </div>
</footer>

<%= javascript_tag do %>
  <% if current_user.present? %>
    localStorage.setItem('api_token', "<%= current_user.api_token %>")
  <% else %>
    localStorage.removeItem('api_token')
  <% end %>

<% end %>